{{ define "modal-update-password" }}
  <div class="modal fade" id="modal-update-password" tabindex="-1" aria-labelledby="modal-update-passwordLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <form method="POST" id="update-password">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modal-update-passwordLabel">Change password</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="mb-3">
              <label for="name" class="form-label">Current password</label>
              <input type="password" class="form-control" id="current_password" name="current_password" placeholder="Enter your current password" required>
            </div>

            <div class="mb-3">
              <label for="nick" class="form-label">New password</label>
              <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Enter your new password" required>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Confirm password</label>
              <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="Confirm your new password" required>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{{ end }}