{{ define "right-panel" }}
  <div class="col-3 d-none d-sm-none d-md-inline">
    <form class="d-flex" role="search" action="/users" method="GET">
      <input class="form-control me-2" type="search" name="search" id="search" placeholder="Search on Rede Social" aria-label="Search">
    </form>

    <div class="p-3 mt-4 bg-white border rounded-3">
      Who to follow?

      {{ range . }}
        <p class="card-subtitle m-0 mt-2 text-muted">{{ .Name }}</p>
        <p class="card-subtitle m-0"><a href="/users/{{ .ID }}">@{{ .Nick }}</a></p>
      {{ end }}
    </div>
  </div>
{{ end }}